*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.fake-text,
.fake-text-right,
.subtitles,
.subtitles-right,
.hipervinculos,
.hipervinculos-right {
  font-size: 24px;
  color: #201658;
  text-decoration: none; }
  .fake-text-right,
  .fake-text-right-right,
  .subtitles-right,
  .subtitles-right-right,
  .hipervinculos-right,
  .hipervinculos-right-right {
    color: #201658; }

.hipervinculos,
.hipervinculos-right {
  color: #98abee;
  text-decoration: underline; }

.navbar {
  display: flex;
  justify-content: flex-end;
  min-height: 106px;
  background-color: #201658;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 20px; }
  .navbar-text, .navbar-text-left {
    font-size: 28px;
    color: #f9e8c9;
    text-decoration: none;
    margin-right: 80px; }
    .navbar-text-left, .navbar-text-left-left {
      margin-right: 80px; }

.navbar {
  display: flex;
  justify-content: flex-end;
  min-height: 106px;
  background-color: #201658;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 20px; }
  .navbar-text, .navbar-text-left {
    font-size: 28px;
    color: #f9e8c9;
    text-decoration: none;
    margin-right: 80px; }
    .navbar-text-left, .navbar-text-left-left {
      margin-right: 80px; }

.hero {
  font-size: 24px;
  color: #f9e8c9;
  text-decoration: none;
  background-image: url(../assets/casco.svg);
  background-size: cover;
  padding: 50px 70px; }
  .hero-description {
    max-width: 636px; }
  .hero-boxes {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    column-gap: 100px;
    flex-wrap: wrap; }
  .hero-boxes-container {
    display: flex;
    flex-direction: column;
    max-width: 141px;
    font-size: 18px;
    column-gap: 100px;
    text-align: center; }

.footer-container,
.footer-container-secundario,
.footer-container-industria {
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 370px;
  justify-content: space-between;
  background-image: url(../assets/grua.svg);
  position: relative;
  background-size: cover; }
  .footer-container-text,
  .footer-container-secundario-text,
  .footer-container-industria-text {
    font-size: 28px;
    color: #f9e8c9;
    text-decoration: none; }

.grid {
  display: grid;
  grid-template-areas: 'txt img';
  gap: 50px;
  justify-items: center; }

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px 50px;
  grid-auto-flow: row;
  grid-template-areas: '. .'; }

.text-side-image-container,
.text-side-image-container-reverse,
.text-side-image-left-container,
.text-side-image-right-container,
.text-side-image-left-container-grid,
.text-side-image-right-container-grid {
  display: flex;
  column-gap: 60px;
  max-height: 400px;
  width: auto;
  flex-direction: column; }

.text-side-image-left-container-grid-2 {
  display: flex;
  column-gap: 60px;
  max-height: 400px;
  width: auto;
  flex-direction: column; }

.text-side-image-right-container-grid-2 {
  display: flex;
  column-gap: 60px;
  max-height: 400px;
  width: auto;
  flex-direction: column; }

.margin-text {
  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  gap: 60px; }

.images {
  display: flex;
  height: 100%;
  object-fit: cover; }

@media (min-width: 520px) and (max-width: 900px) {
  .navbar-text-left {
    margin-left: 40px; }
  .fake-text,
  .fake-text-right {
    font-size: 20px; }
  .grid,
  .images {
    display: none; } }

@media (min-width: 320px) and (max-width: 520px) {
  .navbar-text,
  .navbar-text-left {
    font-size: 22px; }
  .subtitles,
  .fake-text,
  .hipervinculos {
    font-size: 18px; }
  .grid,
  .grid-2 {
    display: grid;
    grid-template-areas: 'img txt';
    gap: 0px; }
    .grid .text-side-image-right-container-grid-2,
    .grid-2 .text-side-image-right-container-grid-2 {
      display: none; }
    .grid .images,
    .grid-2 .images {
      display: none; } }

.icons-container {
  display: flex;
  gap: 5px;
  bottom: 0;
  right: 0;
  position: absolute; }

.icons {
  width: 80px;
  height: 80px; }
