@media (min-width: 900px) and (max-width: 1200px) {
  .images {
    display: flex;
    height: 100%;
    object-fit: cover;
    max-height: 200px;
  }
  .footer-container,
  .footer-container-secundario,
  .footer-container-industria {
    padding: 30px;
    min-height: 50px;
  }
  .navbar-text-left,
  .navbar-text {
    margin-right: 0px;
    font-size: 25px;
  }
  .fake-text,
  .fake-text-right {
    font-size: 18px;
  }
}

@media (min-width: 520px) and (max-width: 900px) {
  .navbar-text-left,
  .navbar-text {
    margin-right: 0px;
  }
  .fake-text,
  .fake-text-right {
    font-size: 20px;
  }
  .images {
    display: none;
  }
  .text-side-image-right-container-grid-2 {
    display: none;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .footer-container,
  .footer-container-secundario,
  .footer-container-industria {
    padding: 30px;
    min-height: 50px;
  }
  .boxes {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
  }
  .boxes-container {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    text-align: center;
  }
  .hero {
    font-size: 20px;
    color: #f9e8c9;
    text-decoration: none;
    background-image: url(../assets/casco.svg);
    background-size: cover;
    padding: 30px 40px;
  }
  .grid {
    gap: 0;
  }
}

@media (min-width: 320px) and (max-width: 520px) {
  .navbar-text,
  .navbar-text-left,
  .footer-container-text {
    font-size: 14px;
  }
  .navbar {
    min-height: auto;
    height: 50px;
  }
  .subtitles,
  .fake-text,
  .fake-text-right,
  .fake-text-right-right,
  .hipervinculos,
  .subtitles-right,
  .hipervinculos-right,
  .hero-description,
  .boxes-container {
    font-size: 12px;
  }
  .grid,
  .grid-2 {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr;
  }
  .grid .text-side-image-right-container-grid-2,
  .grid-2 .text-side-image-right-container-grid-2 {
    display: none;
  }
  .grid .images,
  .grid-2 .images {
    display: none;
  }

  .footer-container,
  .footer-container-secundario {
    padding: 10px;
    min-height: 50px;
  }
  .icons-container {
    display: flex;
    gap: 5px;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .icons {
    width: 20px;
    height: 20px;
  }
  .boxes {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
  }
  .boxes-container {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    text-align: center;
  }
  .hero {
    font-size: 20px;
    color: #f9e8c9;
    text-decoration: none;
    background-image: url(../assets/casco.svg);
    background-size: cover;
    padding: 30px 40px;
    gap: 10px;
  }
  .grid {
    gap: 0;
  }
  .margin-text {
    gap: 20px;
    padding: 30px;
  }

  .margin-text-industria {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .images-industria {
    max-height: 150px;
  }
  .footer-container-industria {
    min-height: 50px;
    padding: 10px;
  }
}
