.navbar {
  display: flex;
  justify-content: center;
  min-height: 106px;
  background-color: $background-color;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 20px;

  &-text,
  &-text-left {
    font-size: 28px;
    color: $text-color;
    text-decoration: none;
    text-align: center;

    &-left {
      margin-right: 80px;
    }
  }
}
